.loader {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.loaderFull {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.ql-editor {
  min-height: 100%;
  height: 100%;
}
